:root {
    --color-primary: #222222; /* color of text */
    --color-primary-light: #444444; /* color of text lighter */
    --color-secondary: #dddddd; /* color of background */
    --color-secondary-light: #eeeeee; /* color of background lighter */
    --color-teritary: #66ccff; /* theme color */
    --color-quanternary: #0078d4; /* theme color 2*/
    --color-active: #333333; /* color of active elements */
    --color-inactive: #999999; /* color of inactive elements */
  }
